@font-face {
    font-family: 'Flama-Light';
    src: url('fonts/flama-light-webfont.eot');
    src: url('fonts/flama-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/flama-light-webfont.woff') format('woff'),
         url('fonts/flama-light-webfont.ttf') format('truetype'),
         url('fonts/flama-light-webfont.svg#flamalight') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*@font-face {
    font-family: 'Flama-Book';
    src: url('fonts/flama-book-webfont.eot');
    src: url('fonts/flama-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/flama-book-webfont.woff') format('woff'),
         url('fonts/flama-book-webfont.ttf') format('truetype'),
         url('fonts/flama-book-webfont.svg#flamabook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Flama-Basic';
    src: url('fonts/flama-basic-webfont.eot');
    src: url('fonts/flama-basic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/flama-basic-webfont.woff') format('woff'),
         url('fonts/flama-basic-webfont.ttf') format('truetype'),
         url('fonts/flama-basic-webfont.svg#flamabasic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Flama-Medium';
    src: url('fonts/flama-medium-webfont.eot');
    src: url('fonts/flama-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/flama-medium-webfont.woff') format('woff'),
         url('fonts/flama-medium-webfont.ttf') format('truetype'),
         url('fonts/flama-medium-webfont.svg#flamamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Flama-Light';
    font-size: 18px;
    line-height: 1;
    background: #00374f;
    color: #fff;
    background: #063348 url('../images/sophos-cloud-bg.jpg') 50% top no-repeat;
    min-height: 100%;
    padding-bottom: 40px;
}
.main {
}
.content {
    margin: 0 auto;
    width: 700px;
    padding-top: 48px;
    position: relative;
}
h1, h2 {
    line-height: 1.25;
    line-height: 90px;
    font-weight: normal;
}
h1 {
    color: #47b7e5;
    font-size: 72px;
    letter-spacing: -1px;
    margin: 0;
}
h1 span.brand {
    color: #00549a;
}
h2 {
    margin: 0;
    color: #4b4b4d;
    font-style: italic;
    font-size: 47px;
}
.primary {
    margin-top: 330px;
    font-size: 32px;
    line-height: 1.5;
}
.secondary {
    font-size: 24px;
    line-height: 1.5;
}
.cta {
    background: #0099d9;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    zoom: 1;
    padding: 8px 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    margin: 50px 0 20px;
}
.secondary-cta {
    color: #47b7e5;
}
.logo {
    position: absolute;
    bottom: 0;
    right: -60px;
    text-align: center;
}
.logo p {
    margin: 8px 0 0;
}